@media screen and (max-width: 800px) {
    #container {
        width: 85vw;
        height: 85vw;
    }

    #control {
        width: 85vw;
    }

    .modal {
        font-size: 0.5em;
    }

    #start {
        font-size: 0.75em;
    }
}