body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(45deg,#8280b7,#c3c4ca 10px,black,black 20px);
}

#control {
    width: 40vw;
    background-color: #514f84;
    color: #ed6ae4;
    font-size: 1.5em;
    box-shadow: 10px 10px 15px 0px black;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

#start {
    background-color: #c3c4ca;
    color: #ed6ae4;
    font-size: 1.5em;
    padding: 3px;
    border-radius: 5px;
    grid-column: 2 / 4;
    grid-row: 2 / 4;

}

#container {
    width: 40vw;
    height: 40vw;
    padding: 10px;
    background: linear-gradient(55deg,#c3c4ca,#514f84);
    border-radius: 8px;
    box-shadow: 10px 10px 15px 0px black;
    display: grid;
    user-select: none;
    -moz-user-select: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
}

.card {
    font-size: 2.5em;
    color: #ed6ae4;
    background-color: #42415e;
    border-radius: 4px;
    box-shadow: 5px 5px 10px 0px black;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
}

.revealed {
    background-color: #c3c4ca;
}

.animated {
    animation: flub 0.5s 1;
}

.animated-mobile {
    animation: flub-mobile 0.5s 1;
}

.modal {
    animation: pulse 5s infinite;
    color: #fff;
    font-size: 1.25em;
    border: 2px solid #42415e;
    border-radius: 8px;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 5px 0px black;
}

p,h4 {
    margin: 0px;
}

.hidden {
    display: none;
}