body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

#control {
    width: 40vw;
    background: linear-gradient(-55deg,#666c87,#cc5545);
    box-shadow: 10px 10px 15px 0px black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#container {
    width: 40vw;
    height: 40vw;
    padding: 10px;
    background: linear-gradient(55deg,#666c87,#cc5545);
    border-radius: 8px;
    box-shadow: 10px 10px 15px 0px black;
    display: grid;
    user-select: none;
    -moz-user-select: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
}

.card {
    font-size: 2em;
    color: #93959a;
    background-color: pink;
    border-radius: 4px;
    box-shadow: 5px 5px 10px 0px black;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
}

.revealed {
    background-color: #c3c4ca;
}

.animated {
    animation: flub 0.5s 1;
}