#control {
    display: flex;
    justify-content: space-around;
}

#container {
    width: 90%;
    height: 90vh;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0bfff1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
}

.card {
    background-color:#2e6cb8;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    background-image:url("horizon.jpg");

}